<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address/Endereço de e-mail:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else./ Nunca compartilharemos seu e-mail com mais ninguém.</small>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Name/ Nome:</label>
    <input type="text" class="form-control"  placeholder="Name">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Skype: (please create an account if you dont't have yet/ por favor crie uma conta se ainda não tiver!)</label>
    <input type="text" class="form-control"  placeholder="address Skype">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Phone/Celular(Whatsapp):</label>
    <input type="number" class="form-control"  placeholder="Number Whatsapp">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">LinkedIn:</label>
    <input type="text" class="form-control"  placeholder="address LinkedIn">
    <small id="options" class="form-text text-muted">(Optional)</small>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">City/ Cidade:</label>
    <input type="text" class="form-control" placeholder="City">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">State/ Estado:</label>
    <input type="text"  class="form-control" placeholder="State">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Portifolio:</label>
    <input type="text" class="form-control" placeholder="Ex: github.com/@sd...">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Only for Brazilians/ CPF:</label>
    <input type="number" class="form-control" placeholder="CPF">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Select/ Selecionar um banco</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Select a Bank</option>
      <option>Itaú</option>
      <option>Santader</option>
      <option>Bradesco</option>
      <option>Banco do Brasil</option>
      <option>Caixa Econômica</option>
      <option>Outros</option>
    </select>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Agency/ Agencia:</label>
    <input type="number" class="form-control"  placeholder="Agency">
  </div>

  <label for="formGroupExampleInput">Account type/ Tipo de Conta:</label>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Chain / Corrente</label>
  <div class="form-check2">
    <input type="checkbox" class="form-check-input" id="exampleCheck2">
    <label class="form-check-label" for="exampleCheck1">Savings / Poupança</label>
  </div>
  </div>

 <div class="form-to-hours">
  <label class="label-Fist" for="formGroupExampleInput">What's the best time to work for you?/ Qual é o melhor horário para trabalhar?</label>

  <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    up to 4 hours a day/ Até 4 horas por dia
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    4 to 8 hours a day / De 4 a 8 horas por dia
  </label>
  </div>

  <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    6 to 8 hours a day / De 6 a 8 horas por dia
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    up to 8 hours a day / até 8 horas por dia
  </label>
</div>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Only weekends / Apenas aos finais de semana
  </label>
</div>

 </div>

<div class="forms-period">
 <div class="form-label">
  <label class="form-check-label" for="exampleCheck1">What period do you have availability?/em que período você tem disponibilidade?
  </label>
 </div>
 <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Morning/Manhã</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Afternoon/Tarde</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Night/Noite</label>
</div>
</div>
<div class="mt-3">
  <button type="button" class="btn btn-danger">Fechar</button>

  <button type="button" class="btn btn-success">Submit</button>
</div>

</form>
